<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [12]:
df = pd.read_csv('data/search.csv', encoding='latin1')
df.head()

,First Search Time (GMT),Country ID,All Department (APS) or Category,Site Variant,Device Type,Device Model,"Search Type (Keyword,Visual,Browse)",Session ID,Query ID,Prime Customer (Y/N),...,Items Consumed (Subscription),Shopping Refinement Pickers,Paid Purchase (Y/N),Item Borrowed (Y/N),Items Borrowed,Next Query Group via Click,Query Abandoned (Y/N),Query Reformulated (Y/N),Amazon Fresh (Y/N),Store Visited
0,2017-01-04 22:12:00,4,toys,PC Browser,Desktop,301612268.0,kw,276-9733532-9164864,1483567919,0,...,0,NaN,0,NaN,NaN,1.0,0,0,NaN,DE
1,2018-01-07 20:21:26,4,aps,PC Browser,Desktop,329022669.0,kw,276-9733532-9164864,1515356485,0,...,0,NaN,0,0.0,0.0,1.0,0,0,NaN,DE
2,2016-03-08 21:50:46,4,aps,NaN,Tablet,NaN,br,278-2045708-6116451,1457473846,0,...,0,NaN,0,NaN,NaN,1.0,0,1,NaN,DE
3,2018-01-07 20:35:20,4,aps,PC Browser,Desktop,329022669.0,kw,276-9733532-9164864,1515357319,0,...,0,NaN,0,0.0,0.0,1.0,0,0,NaN,DE
4,2018-04-12 08:07:31,4,aps,Mobile Browser,Smartphone,515640020.0,kw,280-2749959-8405368,1523520450,0,...,0,NaN,0,0.0,0.0,NaN,1,0,0.0,DE

In [16]:
df.describe()

,Country ID,Device Model,Query ID,Prime Customer (Y/N),Is From External Link (Y/N),Search From External Site (Y/N),Amazon Business Customer (Y/N),Amazon Fresh Customer (Y/N),Music Subscriber (Y/N),First Browse Node,...,Number of Shopping Refinements,Highest Number of Shopping Refinements,Items Consumed (Subscription),Paid Purchase (Y/N),Item Borrowed (Y/N),Items Borrowed,Next Query Group via Click,Query Abandoned (Y/N),Query Reformulated (Y/N),Amazon Fresh (Y/N)
count,425.0,3.420000e+02,4.250000e+02,425.000000,425.000000,425.000000,421.0,349.0,349.0,4.250000e+02,...,425.000000,425.000000,425.000000,425.000000,217.0,217.0,266.000000,425.000000,425.000000,90.0
mean,4.0,3.847522e+08,1.500212e+09,0.072941,0.025882,0.105882,0.0,0.0,0.0,7.265344e+08,...,0.230588,0.228235,0.047059,0.047059,0.0,0.0,0.646617,0.209412,0.225882,0.0
std,0.0,1.358886e+08,2.352107e+07,0.260346,0.158971,0.308050,0.0,0.0,0.0,1.948185e+09,...,0.609288,0.592527,0.333148,0.212014,0.0,0.0,0.478922,0.407368,0.418655,0.0
min,4.0,1.965754e+07,1.456179e+09,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
25%,4.0,3.247018e+08,1.483565e+09,0.000000,0.000000,0.000000,0.0,0.0,0.0,3.011280e+05,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0
50%,4.0,3.385438e+08,1.497562e+09,0.000000,0.000000,0.000000,0.0,0.0,0.0,3.011280e+05,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.0
75%,4.0,4.320761e+08,1.513115e+09,0.000000,0.000000,0.000000,0.0,0.0,0.0,3.408430e+08,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.0
max,4.0,1.021740e+09,1.547190e+09,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.611853e+10,...,6.000000,6.000000,4.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,0.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 61 columns):
First Search Time (GMT)                   425 non-null object
Country ID                                425 non-null int64
All Department (APS) or Category          425 non-null object
Site Variant                              356 non-null object
Device Type                               425 non-null object
Device Model                              342 non-null float64
Search Type (Keyword,Visual,Browse)       425 non-null object
Session ID                                425 non-null object
Query ID                                  425 non-null int64
Prime Customer (Y/N)                      425 non-null int64
Is From External Link (Y/N)               425 non-null int64
Search From External Site (Y/N)           425 non-null int64
First Search Query String                 332 non-null object
Application Name                          7 non-null object
App Version                               3 non-null object
Operating System Name                     421 non-null object
Operating System Version                  425 non-null object
Device Type ID                            4 non-null object
Device Category                           421 non-null object
Customer IP                               386 non-null object
Search Method                             2 non-null object
Keywords                                  375 non-null object
Amazon Business Customer (Y/N)            421 non-null float64
Language                                  407 non-null object
Server                                    374 non-null object
Amazon Fresh Customer (Y/N)               349 non-null float64
Music Subscriber (Y/N)                    349 non-null float64
First Browse Node                         425 non-null int64
Last search Time (GMT)                    425 non-null object
Last Department                           425 non-null object
Last Browse Node                          425 non-null int64
Last Known Customer ID                    425 non-null int64
First Added Item                          31 non-null object
First Purchased Item                      20 non-null object
First Consumed Item (Subscription)        11 non-null object
Number of Clicked Items                   425 non-null int64
Number of Items Added to Cart             425 non-null int64
Number of Items Ordered                   425 non-null int64
Number of Paid Items Ordered              425 non-null int64
Number of Free Items Ordered              425 non-null int64
Units Ordered                             425 non-null int64
Paid Units Ordered                        425 non-null int64
Free Units Ordered                        425 non-null int64
Maximum Purchase Price                    20 non-null float64
Clicked Any Item (Y/N)                    425 non-null int64
Added Any Item (Y/N)                      425 non-null int64
Purchased Any Item (Y/N)                  425 non-null int64
Department Count                          425 non-null int64
Shopping Refinement                       78 non-null object
Number of Shopping Refinements            425 non-null int64
Highest Number of Shopping Refinements    425 non-null int64
Items Consumed (Subscription)             425 non-null int64
Shopping Refinement Pickers               78 non-null object
Paid Purchase (Y/N)                       425 non-null int64
Item Borrowed (Y/N)                       217 non-null float64
Items Borrowed                            217 non-null float64
Next Query Group via Click                266 non-null float64
Query Abandoned (Y/N)                     425 non-null int64
Query Reformulated (Y/N)                  425 non-null int64
Amazon Fresh (Y/N)                        90 non-null float64
Store Visited                             425 non-null object
dtypes: float64(9), int64(26), object(26)
memory usage: 202.7+ KB

In [24]:
df[10:20].Keywords

10                          NaN
11              laptop rucksack
12                     rucksack
13                          NaN
14           playmobil soldaten
15                  co-creation
16                     iceage 2
17                kleines leben
18    kleines leben morgenstern
19             washi tape glitz
Name: Keywords, dtype: object

In [44]:
subset = df[['All Department (APS) or Category', 'Keywords', 'Is From External Link (Y/N)','Search From External Site (Y/N)','Paid Purchase (Y/N)']]

subset.columns = ['category','keyword','ext_link','ext_search','purchase']
subset.tail(10)

          category                 keyword  ext_link  ext_search  purchase
415    electronics               projektor         0           0         0
416           baby          kleinkind hose         0           0         0
417            aps            flame sensor         0           0         0
418      computers      samsonite rucksack         0           0         0
419            aps  ultimaking ultimaker 2         0           1         0
420  specialty-aps                     NaN         0           0         0
421    electronics                ipad pro         0           0         0
422      computers      brother hl 3152cdw         0           0         0
423            aps   winter fuÃƒÂŸsack buggy         0           0         0
424       clothing     lederjacken mÃƒÂ¤nner         0           0         0